@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #ee82ee;
    --cor-hover: #272727;

    --fonte-krona: "Krona One", sans-serif;
    --fonte-mont: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 10%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_links {
    font-family: var(--fonte-mont);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 6% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.frases {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-krona);
}

.destaqueTitulo {
    color: var(--cor-terciaria);
}

.paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-mont);
}

.botoes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;      
}

.titulo_links {
    font-family: var(--fonte-krona);
    font-weight: 400;
    font-size: 1.5rem;
}

.links {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-mont);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
}

.links:hover{
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
}

.imgInsta {
    width: 40px; 
    height: 30px; 
}

.imgGit {
    width: 32px; 
    height: 30px; 
}

.imgLinkedin {
    width: 23px; 
    height: 24px; 
}

.imagem {
    width: 30%;
    border: 5px inset #f6f6f6;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-mont);
    font-weight: 400;
}

.apresentacao_curriculo {
    padding: 6% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.titulo_curriculo {
    font-size: 2.03rem;
    font-family: var(--fonte-krona);
}

.listas_curriculo {
    display: grid;
    gap: 20px;
    list-style-type: none;
}

.listas_curriculo_2 {
    display: grid;
    gap: 20px;
    padding: 0 0 0 4%;
}

.link_curriculo {
    color: var(--cor-secundaria);

}

.link_curriculo:hover {
    color: blue;
}

@media (max-width: 1100px) {
    
    .cabecalho {
        padding: 10% 20% 10% 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 0%;
    }

    .frases {
        width: auto;
    }
}

@media (max-width: 600px) {
    .cabecalho_menu {
        flex-direction: column;
        gap: 20px;
    }

    .botoes {
        width: 100%;
    }

    .imagem {
        width: 40%;
    }

    .apresentacao {
        margin-bottom: 40px;
    }

    .rodape {
        margin-top: 40px;
    }

    .apresentacao_curriculo {
        padding: 20px 5%;
        gap: 40px;
    }

    .frases {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .listas_curriculo,
    .listas_curriculo_2 {
        font-size: 1.2rem;
        word-wrap: break-word;
    }

    .cursos {
        font-size: 2rem;
    }
}

